bin/**/crane filter=lfs diff=lfs merge=lfs -text
bin/**/container-structure-test filter=lfs diff=lfs merge=lfs -text
bin/**/syft filter=lfs diff=lfs merge=lfs -text
bin/**/buildkit/* filter=lfs diff=lfs merge=lfs -text
bin/**/rootlesskit filter=lfs diff=lfs merge=lfs -text

# Syntax highlighting for Jinja2 templates
Dockerfile.jinja2 linguist-language=Dockerfile
test.yml.jinja2 linguist-language=YAML
