{% for platform in platforms %}
build-{{ image.name }}-{{ platform }}:
  extends: .build
  stage: build-{{ image.name }}
  variables:
    IMAGE_NAME: {{ image.name }}
    PLATFORM: {{ platform }}
  needs:
    - generate
{%- if image.dependencies %}
{%- for dep in image.dependencies %}
    - manifest-{{ dep }}
{%- endfor %}
{%- endif %}
{% endfor %}
