manifest-{{ image.name }}:
  stage: manifest-{{ image.name }}
  needs:
{%- for platform in platforms %}
    - build-{{ image.name }}-{{ platform }}
{%- endfor %}
  script:
    - uv run image-manager manifest {{ image.name }} --snapshot-id "$SNAPSHOT_ID"

