  manifest-{{ image.name }}:
    runs-on: ubuntu-latest
    container: registry.example.com/ci/image-manager:latest
    needs:
{%- for platform in platforms %}
      - build-{{ image.name }}-{{ platform }}
{%- endfor %}
    steps:
      - uses: actions/checkout@v4
      - run: image-manager manifest {{ image.name }} --snapshot-id "$SNAPSHOT_ID"
